--
-- PostgreSQL database dump
--

\restrict 0mAjCkLd0OQQDxDqPt6kkdljccybzFVseL1pJNwcDXwYNbJIcNXy8MVqbsKZo6L

-- Dumped from database version 15.19
-- Dumped by pg_dump version 15.19

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.answers (
    id integer NOT NULL,
    participant_id integer NOT NULL,
    question_id integer NOT NULL,
    value character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.answers OWNER TO postgres;

--
-- Name: answers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.answers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.answers_id_seq OWNER TO postgres;

--
-- Name: answers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.answers_id_seq OWNED BY public.answers.id;


--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    id integer NOT NULL,
    nombre character varying NOT NULL,
    "NIT" character varying NOT NULL,
    email character varying,
    telefono character varying,
    direccion character varying,
    estado character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: companies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.companies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.companies_id_seq OWNER TO postgres;

--
-- Name: companies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.companies_id_seq OWNED BY public.companies.id;


--
-- Name: evaluations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations (
    id integer NOT NULL,
    empresa_id integer NOT NULL,
    nombre character varying NOT NULL,
    fecha_inicio date,
    fecha_fin date,
    estado character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.evaluations OWNER TO postgres;

--
-- Name: evaluations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.evaluations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.evaluations_id_seq OWNER TO postgres;

--
-- Name: evaluations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.evaluations_id_seq OWNED BY public.evaluations.id;


--
-- Name: participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.participants (
    id integer NOT NULL,
    empresa_id integer NOT NULL,
    evaluacion_id integer NOT NULL,
    cedula character varying NOT NULL,
    nombres character varying NOT NULL,
    apellidos character varying NOT NULL,
    sexo character varying,
    edad integer,
    estado_civil character varying,
    nivel_educativo character varying,
    cargo character varying,
    area character varying,
    tipo_contrato character varying,
    tiempo_empresa character varying,
    tipo_forma character varying,
    estado_evaluacion character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.participants OWNER TO postgres;

--
-- Name: participants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.participants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.participants_id_seq OWNER TO postgres;

--
-- Name: participants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.participants_id_seq OWNED BY public.participants.id;


--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    id integer NOT NULL,
    codigo character varying NOT NULL,
    texto character varying NOT NULL,
    seccion character varying,
    forma character varying NOT NULL,
    numero integer NOT NULL,
    tipo_respuesta character varying NOT NULL,
    opciones json,
    activa boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.questions_id_seq OWNER TO postgres;

--
-- Name: questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.questions_id_seq OWNED BY public.questions.id;


--
-- Name: results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.results (
    id integer NOT NULL,
    participant_id integer NOT NULL,
    tipo_resultado character varying NOT NULL,
    nombre_target character varying NOT NULL,
    componente character varying,
    puntaje_bruto double precision,
    puntaje_transformado double precision,
    percentil double precision,
    nivel_riesgo character varying,
    algorithm_version character varying NOT NULL,
    calculated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.results OWNER TO postgres;

--
-- Name: results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.results_id_seq OWNER TO postgres;

--
-- Name: results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.results_id_seq OWNED BY public.results.id;


--
-- Name: answers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers ALTER COLUMN id SET DEFAULT nextval('public.answers_id_seq'::regclass);


--
-- Name: companies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies ALTER COLUMN id SET DEFAULT nextval('public.companies_id_seq'::regclass);


--
-- Name: evaluations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations ALTER COLUMN id SET DEFAULT nextval('public.evaluations_id_seq'::regclass);


--
-- Name: participants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participants ALTER COLUMN id SET DEFAULT nextval('public.participants_id_seq'::regclass);


--
-- Name: questions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions ALTER COLUMN id SET DEFAULT nextval('public.questions_id_seq'::regclass);


--
-- Name: results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.results ALTER COLUMN id SET DEFAULT nextval('public.results_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
001_initial_schema
\.


--
-- Data for Name: answers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.companies (id, nombre, "NIT", email, telefono, direccion, estado, created_at, updated_at) FROM stdin;
1	Empresa prueba	555.555.555	\N	\N	\N	activo	2026-08-26 03:43:54.54087+00	2026-08-26 03:43:54.54087+00
2	Hogar San Antonio de la Parroquia de Barichara 	890203312-4	ssthogarsanantonio@gmail.com	3102538658	Calle 5 No 4-49	activo	2026-08-29 18:26:07.853771+00	2026-08-29 18:26:07.853771+00
\.


--
-- Data for Name: evaluations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evaluations (id, empresa_id, nombre, fecha_inicio, fecha_fin, estado, created_at, updated_at) FROM stdin;
1	1	Evaluacion prueba	2026-08-18	2026-08-19	activa	2026-08-26 03:44:52.258309+00	2026-08-26 03:44:52.258309+00
2	2	Evaluaci├│n de factores de riesgo psicosocial 	2026-01-26	2026-01-26	activa	2026-08-29 18:32:29.51504+00	2026-08-29 18:32:29.51504+00
\.


--
-- Data for Name: participants; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: results; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: answers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.answers_id_seq', 3875, true);


--
-- Name: companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.companies_id_seq', 2, true);


--
-- Name: evaluations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_id_seq', 2, true);


--
-- Name: participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.participants_id_seq', 18, true);


--
-- Name: questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.questions_id_seq', 307, true);


--
-- Name: results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.results_id_seq', 570, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: answers answers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: evaluations evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_pkey PRIMARY KEY (id);


--
-- Name: participants participants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT participants_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: results results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.results
    ADD CONSTRAINT results_pkey PRIMARY KEY (id);


--
-- Name: answers uq_answer_participant_question; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT uq_answer_participant_question UNIQUE (participant_id, question_id);


--
-- Name: participants uq_participant_cedula_evaluacion; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT uq_participant_cedula_evaluacion UNIQUE (cedula, evaluacion_id);


--
-- Name: ix_answer_participant_question; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_answer_participant_question ON public.answers USING btree (participant_id, question_id);


--
-- Name: ix_answers_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_answers_id ON public.answers USING btree (id);


--
-- Name: ix_answers_participant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_answers_participant_id ON public.answers USING btree (participant_id);


--
-- Name: ix_answers_question_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_answers_question_id ON public.answers USING btree (question_id);


--
-- Name: ix_companies_NIT; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ix_companies_NIT" ON public.companies USING btree ("NIT");


--
-- Name: ix_companies_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_companies_id ON public.companies USING btree (id);


--
-- Name: ix_evaluations_empresa_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_evaluations_empresa_id ON public.evaluations USING btree (empresa_id);


--
-- Name: ix_evaluations_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_evaluations_id ON public.evaluations USING btree (id);


--
-- Name: ix_participant_empresa_evaluacion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_participant_empresa_evaluacion ON public.participants USING btree (empresa_id, evaluacion_id);


--
-- Name: ix_participants_cedula; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_participants_cedula ON public.participants USING btree (cedula);


--
-- Name: ix_participants_empresa_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_participants_empresa_id ON public.participants USING btree (empresa_id);


--
-- Name: ix_participants_evaluacion_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_participants_evaluacion_id ON public.participants USING btree (evaluacion_id);


--
-- Name: ix_participants_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_participants_id ON public.participants USING btree (id);


--
-- Name: ix_questions_codigo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_questions_codigo ON public.questions USING btree (codigo);


--
-- Name: ix_questions_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_questions_id ON public.questions USING btree (id);


--
-- Name: ix_result_participant_tipo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_result_participant_tipo ON public.results USING btree (participant_id, tipo_resultado, nombre_target);


--
-- Name: ix_results_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_results_id ON public.results USING btree (id);


--
-- Name: ix_results_participant_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_results_participant_id ON public.results USING btree (participant_id);


--
-- Name: answers answers_participant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_participant_id_fkey FOREIGN KEY (participant_id) REFERENCES public.participants(id) ON DELETE CASCADE;


--
-- Name: answers answers_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE RESTRICT;


--
-- Name: evaluations evaluations_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES public.companies(id) ON DELETE RESTRICT;


--
-- Name: participants participants_empresa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT participants_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES public.companies(id) ON DELETE RESTRICT;


--
-- Name: participants participants_evaluacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT participants_evaluacion_id_fkey FOREIGN KEY (evaluacion_id) REFERENCES public.evaluations(id) ON DELETE RESTRICT;


--
-- Name: results results_participant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.results
    ADD CONSTRAINT results_participant_id_fkey FOREIGN KEY (participant_id) REFERENCES public.participants(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 0mAjCkLd0OQQDxDqPt6kkdljccybzFVseL1pJNwcDXwYNbJIcNXy8MVqbsKZo6L

